In [1]:
import pandas as pd
from pprint import pprint

### Step 1. Read the data from the folders and create a dataframe.
#### The dataframe have 400 rows and 5 columns. The columns are: hotel, positive_truthful, positive_deceptive, negative_truthful, negative_deceptive. The rows are the reviews for the hotels. In particular, there are 20 rows for each hotel and 20 hotels in total.

In [2]:
# positive_truthful_folder = '/home/haokunliu/temp_data/op_spam_v1.4/positive_polarity/truthful_from_TripAdvisor/'
# positive_deceptive_folder = '/home/haokunliu/temp_data/op_spam_v1.4/positive_polarity/deceptive_from_MTurk/'
# negative_truthful_folder = '/home/haokunliu/temp_data/op_spam_v1.4/negative_polarity/truthful_from_Web/'
# negative_deceptive_folder = '/home/haokunliu/temp_data/op_spam_v1.4/negative_polarity/deceptive_from_MTurk/'

positive_truthful_folder = '/data/rosa/data/op_spam_v1.4/positive_polarity/truthful_from_TripAdvisor/'
positive_deceptive_folder = '/data/rosa/data/op_spam_v1.4/positive_polarity/deceptive_from_MTurk/'
negative_truthful_folder = '/data/rosa/data/op_spam_v1.4/negative_polarity/truthful_from_Web/'
negative_deceptive_folder = '/data/rosa/data/op_spam_v1.4/negative_polarity/deceptive_from_MTurk/'

In [3]:
import os
hotel_reviews = {} 
sup_folders = [positive_truthful_folder, positive_deceptive_folder, negative_truthful_folder, negative_deceptive_folder]
for sup_folder in sup_folders:
    for fold in range(1, 6, 1):
        folder = f'{sup_folder}fold{fold}/'
        # get the list of files in each folder
        files = os.listdir(folder)
        for file in files:
            # print('file', file)
            hotel_name = file.split('_')[1]
            # print('hotel_name', hotel_name)
            # drop the .txt
            hotel_review_idx = file.split('.')[0].split('_')[2]
            # print('hotel_review_idx', hotel_review_idx)
            with open(folder + file, 'r') as f:
                review = f.read()
                key = hotel_name + '_' + hotel_review_idx
                if key not in hotel_reviews:
                    hotel_reviews[key] = [review]
                else:
                    hotel_reviews[key].append(review)

In [4]:
print(len(hotel_reviews.keys()))
print(len(hotel_reviews['sofitel_8']))

# turn the dictionary into a dataframe
df = pd.DataFrame.from_dict(hotel_reviews, orient='index')
# rename the columns to hotel_review_id, positive_truthful, positive_deceptive, negative_truthful, negative_deceptive
df.columns = ['positive_truthful', 'positive_deceptive', 'negative_truthful', 'negative_deceptive']

400
4

In [5]:
df.head()

,positive_truthful,positive_deceptive,negative_truthful,negative_deceptive
sofitel_8,"Beautifully appointed, professionally staffed,...",I was very satisfied after staying at the Sofi...,"I was looking for a fun, contemporary hotel an...",After booking a room over two months in advanc...
sofitel_1,On a recent trip to Chicago to attend a major ...,"On our first trip to Chicago, my fiance and I ...","This hotel is totally overrated. Yes, the loca...",I needed a place to stay for a business confer...
hilton_12,"went to chicago for a week in may, decided to ...",I stayed at the Hilton Chicago for my cousins ...,Going to the Internet Retailer 2010 at the las...,"When most people think Hilton, they think luxu..."
hilton_15,I stayed here for a conference and got the con...,My husband and I stayed in the Hilton Chicago ...,I stayed at the Chicago Hilton because it was ...,"For a hotel rated with four diamonds by AAA, o..."
sofitel_6,We just arrived from a 3 nights stay at the So...,Best hotel in an excellent location I stayed a...,Didn't get the room we were promised. Kind of ...,Sofitel not-so-luxury Hotels I recently checke...

### Step 2. Sample training and testing data.
#### Sample 200 rows for training (800 examples), 75 rows for validation (300 examples), and 125 for testing (500 examples).

In [6]:
# sample 200 rows for training and 75 for validation and 125 for testing
df_train = df.sample(200, random_state=42)
df = df.drop(df_train.index)
df_val = df.sample(75, random_state=42)
df = df.drop(df_val.index)
df_test = df

In [8]:
# check whether there are overlaps between the three datasets
print(df_train.index.intersection(df_val.index))
print(df_train.index.intersection(df_test.index))
print(df_val.index.intersection(df_test.index))

Index([], dtype='object')
Index([], dtype='object')
Index([], dtype='object')

In [9]:
# get length of each dataset
print(len(df_train))
print(len(df_val))
print(len(df_test))

200
75
125

In [10]:
# export to jsonl file
# path = '/home/haokunliu/past-interaction-learning/data'
path = '/data/rosa/work_in_progress/past-interaction-learning/data'
df_train.to_json(path + '/hotel_reviews_train.jsonl', orient='records', lines=True)
df_val.to_json(path + '/hotel_reviews_val.jsonl', orient='records', lines=True)
df_test.to_json(path + '/hotel_reviews_test.jsonl', orient='records', lines=True)

### Just trying stuff below

In [ ]:
# just trying stuff
df_train.head()

In [ ]:
# get all positive_truthful reviews
positive_truthful_reviews = df_train['positive_truthful'].tolist()

In [ ]:
len(positive_truthful_reviews)